html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("bg-illustration.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #111729;
    display: flex;
    flex-direction: column;
}
header {
    padding-top: 40px;
    padding-left: 80px;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 96px;
    flex-direction: column;
    align-items: center;
}
.main-index {
    margin-top: 150px;

}
.section-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.logo {
    width: 210px;
}
.search-bar {
    width: 80%;
    display: flex;
    gap: 8px;
    border: 1px solid #3662E3;
    padding: 8px;
    padding-left: 32px;
    border-radius: 20px;

}
.input-url{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: #111729;
    color: #F2F5F9;
    border: 0px;
    flex-grow: 1;
}
.input-url:focus{
    border: 0;
}
.btn-qr{
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    color: #F2F5F9;
    background-color: #3662E3;
    border: 0px;
    border-radius: 15px;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.qr-section {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}
.buttons {
    display: flex;
    gap: 20px;
}

.qr-container { 
    background-color: #4e80ee33;
    border-radius: 50%;
    width: 307px;
    height: 307px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr-code-img {
    border: 40px solid #F2F5F9;
    width: 230px;
    height: 230px;
    border-radius: 35px;
}
.btn-qr:hover {
    scale: 1.05;
    font-weight: 500;
    text-shadow: #c5c7cb;
}

@media (min-width: 1024px) {
    .main-index {
        margin-top: 160px;
    }
}
@media (min-width: 1280px) {
    .main-index {
        margin-top: 240px;
    }
}